* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    box-sizing: border-box;
}
article {
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.188);
    margin-bottom: 2rem;
}
.dog-image {
    min-height: 15rem;
    background-position: center;
    background-size: cover;
}

.dog-info {
    min-height: 5rem;
    color: rgb(9, 9, 9);
}